@model OnlineStoreOfBoardGames.Models.Alert.AlertCreateViewModel

@section Style {
    <link href="/css/Alerts/create.css?v=1" rel="stylesheet" />
}

<h1 class="page-title">
    Alert Creating
</h1>
<form class="alert-form" method="post">
    <div class="form-group">
        @Html.TextBoxFor(x => x.Text, new { placeholder = "Alert text", @class = "text-input" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(x => x.EndDate, new { @type = "date", placeholder = "end date", @class = "date-input" })
    </div>
    <div class="form-group">
        <input type="submit" value="Создать" class="submit-button" />
    </div>
</form>
