.registration-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.text-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #FF6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
	margin-top: 50px;
}

.submit-button:hover {
  background-color: #dd7e68;
}

.input-validation-error {
  background-color: #ffe2e2;
  border: 1px solid #f00;
  padding: 5px;
  border-radius: 5px;
}

.available {
  background-color: #c8fec8;
  border: 1px solid #0f0;
  padding: 5px;
  border-radius: 5px;
}
