@model OnlineStoreOfBoardGames.Models.Auth.AuthViewModel

@section Style {
    <link rel="stylesheet" href="/css/Auth/login.css" />
}

<form class="login-form" method="post">
    <div class="form-group">
        @Html.TextBoxFor(x => x.Login, new { placeholder = "login", @class = "text-input" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(x => x.Password, new { @type = "password", placeholder = "password", @class = "text-input" })
    </div>
    <div class="form-group">
        <input type="submit" value="Логин" class="submit-button" />
    </div>
</form>
